/* line 38, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
h1 {
  font-family: "Plantagenet Cherokee", serif;
  font-size: 2.333em; }

/* line 42, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
h2 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 2em; }

/* line 46, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
h3 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 1.333em; }

/* line 50, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
h4 {
  font-family: Constantia, serif;
  font-size: 1.222em; }

/* line 54, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
h5 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 1em; }

/* line 58, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
h6 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 0.8em; }

/* line 62, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
p {
  font-family: Constantia, serif;
  font-size: 1.1em;
  line-height: 1.75em; }

/* line 68, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 71, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
html {
  height: 100%; }

/* line 74, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
body {
  font-size: 112.5%;
  color: #fff;
  height: 100%; }

/* line 79, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
div.wrapper {
  min-height: 100%;
  margin-bottom: -40px; }

/* line 83, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
a {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  /* line 91, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
  a:hover {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff; }

/* line 95, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
video.bg-vid {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -100; }

/* line 98, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
div.bg-cover {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -90;
  background-color: rgba(0, 0, 0, 0.7); }

/* line 105, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
header {
  width: 100%;
  overflow: hidden; }
  /* line 111, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
  header a.logo div {
    background-image: url(../images/logo.png);
    width: 90px;
    height: 90px;
    background-size: contain;
    float: left; }

/* line 119, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
nav {
  padding-top: 35px;
  float: left; }
  /* line 123, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
  nav li {
    display: inline-block;
    margin-left: 40px; }

/* line 127, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
ul.social {
  float: right;
  padding: 30px 35px 0 0; }
  /* line 131, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
  ul.social li {
    display: inline-block; }
    /* line 134, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
    ul.social li a {
      display: block;
      width: 35px;
      height: 35px;
      background: url("../images/social-sprites.png") no-repeat;
      background-size: 100%;
      transition: none; }
      /* line 142, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
      ul.social li a.twitter {
        background-position: 0 0; }
        /* line 145, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
        ul.social li a.twitter:hover {
          background-position: 0 -35px; }
      /* line 148, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
      ul.social li a.github {
        background-position: 0 -70px; }
        /* line 151, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
        ul.social li a.github:hover {
          background-position: 0 -105px; }
      /* line 154, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
      ul.social li a.linkedin {
        background-position: 0 -140px; }
        /* line 157, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
        ul.social li a.linkedin:hover {
          background-position: 0 -175px; }
      /* line 160, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
      ul.social li a.email {
        background-position: 0 -210px; }
        /* line 163, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
        ul.social li a.email:hover {
          background-position: 0 -245px; }

/* line 167, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
div.main {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 30px 75px; }

/* line 173, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
h2.title {
  text-align: center;
  padding: 20px 0 50px 0; }

/* line 178, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
div.home {
  text-align: center; }
  /* line 181, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
  div.home h1 {
    margin: 250px 0 220px 0; }
  /* line 184, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
  div.home h2 {
    margin-bottom: 5px; }

/* line 190, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
div.portfolio a.portfolio-piece {
  margin-top: 20px;
  width: 48.5%;
  height: 140px;
  background-repeat: no-repeat;
  background-position: top center;
  float: right; }
  /* line 198, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
  div.portfolio a.portfolio-piece.promo {
    width: 100%;
    float: left; }
  /* line 202, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
  div.portfolio a.portfolio-piece:nth-child(even) {
    float: left; }
/* line 205, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
div.portfolio a:hover div.overlay {
  opacity: 1; }
/* line 208, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
div.portfolio div.overlay {
  text-align: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 55px;
  text-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* line 214, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
div.about p {
  margin-bottom: 15px; }
  /* line 217, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
  div.about p a {
    font-family: Constantia, serif;
    text-decoration: underline; }

/* line 222, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
footer {
  height: 40px;
  background-color: #000;
  width: 100%; }
  /* line 227, /Users/tristandarwent/Documents/School/Javascript/Assignment 3/src/assets/styles/index.sass */
  footer h6 {
    margin: 15px 15px 0 0;
    float: right;
    color: #fff; }
