/* line 62, src/assets/styles/index.sass */
h1 {
  font-family: "Plantagenet Cherokee", serif;
  font-size: 2.333em; }

/* line 66, src/assets/styles/index.sass */
h2 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 2em; }

/* line 70, src/assets/styles/index.sass */
h3 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 1.333em; }

/* line 74, src/assets/styles/index.sass */
h4 {
  font-family: Constantia, serif;
  font-size: 1.222em; }

/* line 78, src/assets/styles/index.sass */
h5 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 1em; }

/* line 82, src/assets/styles/index.sass */
h6 {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 0.8em; }

/* line 86, src/assets/styles/index.sass */
p {
  font-family: Constantia, serif;
  font-size: 1.1em;
  line-height: 1.65em; }

/* line 101, src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 104, src/assets/styles/index.sass */
html {
  height: 100%; }

/* line 107, src/assets/styles/index.sass */
body {
  font-size: 112.5%;
  color: #fff;
  height: 100%; }

/* line 112, src/assets/styles/index.sass */
div.wrapper {
  min-height: 100%;
  margin-bottom: -40px; }

/* line 116, src/assets/styles/index.sass */
a {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  /* line 124, src/assets/styles/index.sass */
  a:hover {
    text-shadow: 0 0 10px #fff, 0 0 10px #fff; }

/* line 131, src/assets/styles/index.sass */
video.bg-vid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover; }

/* line 134, src/assets/styles/index.sass */
div.bg-cover {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  width: auto;
  height: auto;
  z-index: -90;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7); }

/* line 142, src/assets/styles/index.sass */
header {
  width: 100%;
  overflow: hidden; }
  /* line 148, src/assets/styles/index.sass */
  header a.logo div {
    background: url(../images/logoSprites.png) no-repeat;
    background-size: 100%;
    background-position: 0 0;
    width: 160px;
    height: 64px;
    float: left;
    margin: 12px 0 0 18px; }
    /* line 157, src/assets/styles/index.sass */
    header a.logo div:hover {
      background-position: 0 -64px; }
  /* line 160, src/assets/styles/index.sass */
  header ul.social {
    float: right;
    margin: 30px 35px 0 0; }

/* line 168, src/assets/styles/index.sass */
nav {
  margin-top: 35px;
  float: left; }
  /* line 172, src/assets/styles/index.sass */
  nav li {
    display: inline-block;
    margin-left: 40px; }

/* line 178, src/assets/styles/index.sass */
ul.social li {
  display: inline-block; }
  /* line 181, src/assets/styles/index.sass */
  ul.social li a {
    display: block;
    width: 35px;
    height: 35px;
    background: url(../images/social-sprites.png) no-repeat;
    background-size: 100%;
    transition: none; }
    /* line 189, src/assets/styles/index.sass */
    ul.social li a.twitter {
      background-position: 0 0; }
      /* line 192, src/assets/styles/index.sass */
      ul.social li a.twitter:hover {
        background-position: 0 -35px; }
    /* line 195, src/assets/styles/index.sass */
    ul.social li a.github {
      background-position: 0 -70px; }
      /* line 198, src/assets/styles/index.sass */
      ul.social li a.github:hover {
        background-position: 0 -105px; }
    /* line 201, src/assets/styles/index.sass */
    ul.social li a.linkedin {
      background-position: 0 -140px; }
      /* line 204, src/assets/styles/index.sass */
      ul.social li a.linkedin:hover {
        background-position: 0 -175px; }
    /* line 207, src/assets/styles/index.sass */
    ul.social li a.email {
      background-position: 0 -210px; }
      /* line 210, src/assets/styles/index.sass */
      ul.social li a.email:hover {
        background-position: 0 -245px; }

/* line 217, src/assets/styles/index.sass */
div.main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px 50px;
  overflow: hidden; }

/* line 223, src/assets/styles/index.sass */
h2.title {
  text-align: center;
  padding: 20px 0 50px 0; }

/* line 231, src/assets/styles/index.sass */
div.home {
  text-align: center;
  display: flex;
  flex-direction: column; }
  /* line 236, src/assets/styles/index.sass */
  div.home h1 {
    margin-top: auto; }
  /* line 239, src/assets/styles/index.sass */
  div.home h2 {
    margin-top: auto; }
  /* line 242, src/assets/styles/index.sass */
  div.home h3 {
    margin: 5px 0 10px; }

/* line 249, src/assets/styles/index.sass */
div.portfolio {
  overflow: hidden; }
  /* line 252, src/assets/styles/index.sass */
  div.portfolio a.portfolio-piece {
    margin-bottom: 20px;
    width: 48.5%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: top center;
    float: right; }
    /* line 260, src/assets/styles/index.sass */
    div.portfolio a.portfolio-piece.promo {
      width: 100%; }
    /* line 263, src/assets/styles/index.sass */
    div.portfolio a.portfolio-piece:nth-child(odd) {
      float: left; }
  /* line 266, src/assets/styles/index.sass */
  div.portfolio a:hover div.overlay {
    opacity: 1; }
  /* line 269, src/assets/styles/index.sass */
  div.portfolio div.overlay {
    text-align: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 55px;
    text-shadow: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }

/* line 278, src/assets/styles/index.sass */
div.portfolioDetail h2, div.portfolioDetail h3, div.portfolioDetail h5 {
  text-align: left; }

/* line 281, src/assets/styles/index.sass */
div.portfolioDetail h2 {
  padding-bottom: 10px; }

/* line 284, src/assets/styles/index.sass */
div.portfolioDetail h3 {
  padding-bottom: 12px; }

/* line 287, src/assets/styles/index.sass */
div.portfolioDetail div.imageHolder {
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 30px; }

/* line 295, src/assets/styles/index.sass */
div.portfolioDetail div.images {
  margin-top: 30px;
  text-align: center; }
  /* line 299, src/assets/styles/index.sass */
  div.portfolioDetail div.images div {
    width: 75px;
    height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px; }
    /* line 309, src/assets/styles/index.sass */
    div.portfolioDetail div.images div:last-child {
      margin-right: 0; }

/* line 312, src/assets/styles/index.sass */
div.portfolioDetail p {
  margin: 25px 0; }

/* line 315, src/assets/styles/index.sass */
div.portfolioDetail a.button {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  text-shadow: none;
  text-align: center;
  margin-bottom: 15px; }
  /* line 319, src/assets/styles/index.sass */
  div.portfolioDetail a.button:hover {
    color: #000;
    background-color: #fff; }

/* line 329, src/assets/styles/index.sass */
div.about p {
  margin-bottom: 15px; }
  /* line 332, src/assets/styles/index.sass */
  div.about p a {
    font-family: Constantia, serif;
    text-decoration: underline; }

/* line 340, src/assets/styles/index.sass */
footer {
  height: 40px;
  background-color: #000;
  width: 100%;
  padding: 15px 15px 0; }
  /* line 346, src/assets/styles/index.sass */
  footer ul.social {
    float: left;
    display: none; }
  /* line 350, src/assets/styles/index.sass */
  footer h6 {
    float: right;
    color: #fff; }

@media only screen and (max-width: 767px) {
  /*** Global ***/
  /* line 365, src/assets/styles/index.sass */
  div.wrapper {
    margin-bottom: -65px; }
  /*** Header ***/
  /* line 372, src/assets/styles/index.sass */
  header ul.social {
    display: none; }
  /*** Navigation ***/
  /* line 377, src/assets/styles/index.sass */
  nav {
    float: right; }
    /* line 380, src/assets/styles/index.sass */
    nav li {
      margin-left: 0;
      margin-right: 40px; }
  /*** Main ***/
  /* line 386, src/assets/styles/index.sass */
  div.main {
    padding-bottom: 75px; }
  /*** Home ***/
  /* line 393, src/assets/styles/index.sass */
  div.home h1 {
    font-size: 1.944em; }
  /* line 396, src/assets/styles/index.sass */
  div.home h2 {
    font-size: 1.667em; }
  /* line 399, src/assets/styles/index.sass */
  div.home h3 {
    font-size: 1.111em; }
  /*** Portfolio ***/
  /* line 406, src/assets/styles/index.sass */
  div.portfolio a.portfolio-piece {
    float: left;
    width: 100%; }
  /*** Footer ***/
  /* line 412, src/assets/styles/index.sass */
  footer {
    height: 65px; }
    /* line 415, src/assets/styles/index.sass */
    footer ul.social {
      display: block; }
    /* line 418, src/assets/styles/index.sass */
    footer h6 {
      margin-top: 13px; } }

@media only screen and (max-width: 650px) {
  /*** Home ***/
  /* line 428, src/assets/styles/index.sass */
  div.home h1 {
    font-size: 1.611em; }
  /* line 431, src/assets/styles/index.sass */
  div.home h2 {
    font-size: 1.334em; }
  /* line 434, src/assets/styles/index.sass */
  div.home h3 {
    font-size: 0.889em; } }

@media only screen and (max-width: 479px) {
  /*** Typography ***/
  /* line 445, src/assets/styles/index.sass */
  p {
    font-size: 1em;
    line-height: 1.556em; }
  /*** Global ***/
  /* line 451, src/assets/styles/index.sass */
  div.wrapper {
    margin-bottom: -97px; }
  /*** Header ***/
  /* line 460, src/assets/styles/index.sass */
  header a.logo div {
    float: none;
    margin: 15px auto; }
  /*** Navigation ***/
  /* line 466, src/assets/styles/index.sass */
  nav {
    float: none;
    margin: 15px auto;
    text-align: center; }
    /* line 471, src/assets/styles/index.sass */
    nav li {
      margin-right: 0; }
      /* line 474, src/assets/styles/index.sass */
      nav li:first-child {
        margin-right: 30px; }
  /*** Main ***/
  /* line 479, src/assets/styles/index.sass */
  div.main {
    padding: 0 16px 107px; }
  /* line 482, src/assets/styles/index.sass */
  h2.title {
    padding: 20px 0 25px;
    font-size: 1.667em; }
  /*** Portfolio ***/
  /* line 490, src/assets/styles/index.sass */
  div.portfolio a.portfolio-piece {
    margin-bottom: 16px; }
  /*** About ***/
  /* line 497, src/assets/styles/index.sass */
  div.about p {
    margin-bottom: 12px; }
  /*** Footer ***/
  /* line 502, src/assets/styles/index.sass */
  footer {
    height: 97px; }
    /* line 505, src/assets/styles/index.sass */
    footer ul.social {
      float: none;
      text-align: center; }
      /* line 509, src/assets/styles/index.sass */
      footer ul.social li {
        margin-right: 10px; }
        /* line 512, src/assets/styles/index.sass */
        footer ul.social li:last-child {
          margin-right: 0; }
    /* line 515, src/assets/styles/index.sass */
    footer h6 {
      float: none;
      text-align: center;
      margin-top: 15px; } }

@media only screen and (max-width: 320px) {
  /*** Typography ***/
  /* line 526, src/assets/styles/index.sass */
  p {
    font-size: 0.889em;
    line-height: 1.444em; }
  /*** Main ***/
  /* line 532, src/assets/styles/index.sass */
  div.main {
    padding: 0 8px 107px; }
  /*** Portfolio ***/
  /* line 539, src/assets/styles/index.sass */
  div.portfolio a.portfolio-piece {
    margin-bottom: 8px; }
  /*** About ***/
  /* line 546, src/assets/styles/index.sass */
  div.about p {
    margin-bottom: 10px; } }
