doctype html
html

  head

  meta(charset="utf-8")

  meta(http-equiv="X-UA-Compatible", content="IE=edge")

  title Tristan Darwent

  meta(name="description", content="Tristan Darwent Portfolio Site")

  meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui")

  link(rel="shortcut icon" href="/assets/images/logo.png")

  link(rel="stylesheet", href="/assets/styles/reset.css", type="text/css")

  link(rel="stylesheet", href="/assets/styles/main.css", type="text/css")

  body

  //- Background Video
  
  video.bg-vid(autoplay loop)

    source(src="/assets/videos/bg-video.mp4" type="video/mp4")

    source(src="/assets/videos/bg-video.ogv" type="video/ogg")

  //- Background Cover Div - that covers whole screen over video, used to adjust brightness of background video

  div.bg-cover

  //- Main Wrapper

  div.wrapper

    //- Header

    header

      //- Logo

      a.logo.link(href="/")

        div

      //- Main Navigation

      nav

        ul

          li: a.link(href="/portfolio") Portfolio

          li: a.link(href="/about") About

      //- Social Icons

      ul.social

        li: a.twitter(href="https://twitter.com/tristandarwent" target="_blank")

        li: a.github(href="https://github.com/tristandarwent" target="_blank")

        li: a.linkedin(href="http://www.linkedin.com/pub/tristan-darwent/91/535/388" target="_blank")

        li: a.email(href="mailto:tristandarwent@gmail.com")

    //- Main Content Div

    div.main

  //- Footer

  footer

    h6 ©2017 Tristan Darwent

  // -----------------------------
  // Templates
  // -----------------------------

  //- Home Template

  script#home(type="text/template")

    div.page.home

      h1 let's build some cool shit together

      h2 Tristan Darwent

      h3 Interactive Developer

  //- Portfolio Template

  script#portfolio(type="text/template")

    div.page.portfolio

      h2.title My Work

      //- Loops through each piece

      | {{#each piece}}

      //- If it is the first piece, make it promo

      | {{#if @first}}

      a.portfolio-piece.promo.link(href="portfolio-detail/{{url}}" style="background-image: url(assets/images/{{image}})")

        div.overlay
          
          h3 {{deck}}

      //- Else, place it normally

      | {{else}}

      a.portfolio-piece.link(href="portfolio-detail/{{url}}" style="background-image: url(assets/images/{{image}})")

        div.overlay
          
          h3 {{deck}}

      | {{/if}}

      | {{/each}}

  //- Portfolio Detail Template

  script#portfolioDetail(type="text/template")

    div.page.portfolioDetail

      h2.title {{piece.name}}
      
      h3 {{piece.deck}}
      
      h5 {{piece.role}}

      div.imageHolder(style="background-image: url(../assets/images/{{piece.screen1}})")

      div.images
      
        div.thumbnail(style="background-image: url(../assets/images/{{piece.screen1}})")
        
        div.thumbnail(style="background-image: url(../assets/images/{{piece.screen2}})")
        
        div.thumbnail(style="background-image: url(../assets/images/{{piece.screen3}})")

      p {{piece.description}}

      //- If piece has a site link

      | {{#if piece.site_link}}

      a.button(href="{{piece.site_link}}" target="_blank") View Site

      | {{/if}}

      //- If piece has a github link

      | {{#if piece.github_link}}

      a.button(href="{{piece.github_link}}" target="_blank") View On Github

      | {{/if}}

      //- If piece has a video link

      | {{#if piece.video_link}}

      a.button(href="{{piece.video_link}}" target="_blank") View Video

      | {{/if}}

  //- About Template

  script#about(type="text/template")

    div.page.about

      h2.title Oh, hello.

      p I'm Tristan Darwent and I'm a developer. 

      p.
        Creating interesting and polished websites and mobile applications is my goal.
        I take creativity and bring it to life on a screen. I speak Swift, Objective-C, HTML, CSS, Javascript, and more. I enjoy board games, 
        record collecting, puzzle solving, and messing around with Arduinos.

      p I’d like to work with you.

      p 
        | You can download my resume 
        a(href="assets/files/Tristan-Darwent-Resume-June-2017.pdf" target="_blank") here
        | .

      p 
        | You can contact me at any time at 
        a(href="mailto:tristandarwent@gmail.com") tristandarwent@gmail.com
        | .

  // -----------------------------
  // Libraries
  // -----------------------------

  script(type="text/javascript", src="http://code.jquery.com/jquery-2.1.1.min.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone.js")

  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js")


  // -----------------------------
  // Application
  // -----------------------------

  script(type="text/javascript", src="/assets/scripts/main.js")
